appnope
asttokens
attrs
comm
contourpy
cycler
debugpy
decorator
executing
fastjsonschema
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
narwhals
nbformat
nest-asyncio
numpy
packaging
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
referencing
rpds-py
six
stack-data
tornado
traitlets
wcwidth
